/* Elements */

html{
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    transition: all 0.25s ease;
}

body{
    background-color: #111111;
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

div {
    display: block;
    unicode-bidi: isolate;
}

span {
    font-style: inherit;
    font-weight: inherit
}

video {
    height: auto;
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img {
    height: auto;
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}

figcaption{
    font-size: 0.75rem;
    color: #7a7a7a;
    margin: 0.2em 0;
}

hr{
    display: block;
    margin: 1.5rem 0
}

h1{
    font-weight: 600;
    color: #ffffff;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

a{
    color: #e46e59;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
}

footer{
    background-color: #fc3b11;
    opacity: 0.95;
    height: 20px;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Classes */
.fullscreen-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    filter: blur(0.1rem)
}

/* Navbar TODO: mobile burger */
.navbar{
    background-color: #fc3b11;
    opacity: 0.95;
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 30;
}

.navbar-items{
    align-items: stretch;
    display: flex;
}

.navbar-items.aligned-right{
    margin-left: auto;
}

.navbar-item{
    color: #f5f5f5;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 .75rem;
    font-weight: 500;
}

.navbar-image{
    max-height: 60%;
}

.navbar-item:hover{
    background-color: #2e2e30;
}

@media only screen and (max-width: 675px) {
    .navbar-logo{
        display: none;
    }
}

/* Column Display */
.columns{
    display: flex;
}

.column{
    padding: 0.5rem
}

.column.is-one-fifth{
    flex: none;
    width: 20%;
}

.column.is-one-half{
    flex: none;
    width: 50%;
}

.column.is-one-third{
    flex: none;
    width: 33%;
}

.column.is-one-fourth{
    flex: none;
    width: 25%;
}

.is-multiline{
    flex-wrap: wrap;
}

/* Hero */
.hero{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero.is-fullheight{
    min-height: 100vh;
}

.hero.is-halfheight{
    min-height: 50vh;
}

.hero.below-navbar{
    margin-top: 60px;
}

.hero-body{
    position: relative;
    padding: 3rem 1.5rem;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}


@media screen and (max-width: 600px) {
    .hero-body{
        padding: 1rem;
    }
}

/* Section */
.section {
    padding: 3rem 1.5rem
}

@media screen and (max-width: 600px) {
    .section{
        padding: 1.5rem 0.5rem;
    }
}

/* Image */
.image{
    display: block;
    position: relative;
}

.tiny{
    max-width: 10vmax;
}

.small{
    max-width: 20vmax;
}

.medium{
    max-width: 40vmax;
}

.large{
    max-width: 80vmax;
}

/* Titles */
.title{
    font-size: 4em;
    margin: auto 0.60rem !important;
    display: block;
    word-wrap: break-word
}

.subtitle {
    letter-spacing: 0.25rem
}

/* Project Cards */
.project-card{
    width: 90%;
    margin: auto auto 1rem 1rem;
}

.project-card-content{
    margin-top: -1.75rem;
    padding: 0.5rem 1rem;
}

.project-card hr{
    margin-top: -1.25rem;
}

/* Horizontal Container */
.container{
    flex-grow: 1;
    margin: 0 auto;
    padding: 0.5rem;
    position: relative;
    width: auto
}

@media screen and (min-width: 1024px) {
    .container {
        max-width:960px
    }
}

@media screen and (min-width: 1216px) {
    .container {
        max-width:1152px
    }
}

@media screen and (min-width: 1408px) {
    .container {
        max-width:1344px
    }
}

/* Navigation Button */
.button{
    margin: auto;
    width: 80%;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}

/* Utility */
.is-centred{
    margin: auto;
}

.enlarge-on-hover{
    transition: all 0.1s ease;
}

.enlarge-on-hover:hover{
    transform: scale(1.05);
}

.hide-link{
    color: #f5f5f5;
    text-decoration: none;
}

.has-text-centered {
    text-align: center !important;
}

.has-text-left {
    text-align: left !important;
}

.has-text-right {
    text-align: right !important;
}

.anchor-center{
    justify-content: center;
    display: flex;
}

.anchor-left{
    justify-content: left;
    display: flex;
}

.anchor-right{
    justify-content: right;
    display: flex;
}

.has-drop-shadow{
    box-shadow: 0 4px 6px #000000;
}

.has-border{
    border-radius: 5px;
}

.has-gradient-background{
    background: linear-gradient(0deg, #10101075 0%, #20202075 100%);
}

.has-gray-background{
    background: #2e2e30;
}

.has-darkgray-background{
    background: #111111;
}

.date-range{
    font-size: 0.75rem;
    color: #7a7a7a;
    margin: 0.2em 0;
}

.reference{
    margin-block-start: -1em;
    margin-block-end: 2em;
}

/* 600px, 768px, 992px, 1200px */

@media only screen and (max-width: 600px) {
    .hide-on-mobile{
        display: none;
    }
}
