@media screen and (max-width: 600px) {
    h1{
        text-align: center;
    }

    p{
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .column{
        flex: none;
        width: 32%;
    }
}
